In [1]:
name = "Data science Masters"
name.swapcase()

'dATA SCIENCE mASTERS'

In [2]:
print(name.capitalize()) # Only first letter capital
print(name.title()) # first letter of all words capital

Data science masters
Data Science Masters

#### Reversing a String

In [3]:
name[::-1]

'sretsaM ecneics ataD'

In [4]:
# join() function

" abhay ".join("Magar")   # Hence "abhay" acts as a separator for string given in the join() function --> Magar

'M abhay a abhay g abhay a abhay r'

In [5]:
''.join(reversed(name))

'sretsaM ecneics ataD'

In [6]:
" ".join(reversed(name))

's r e t s a M   e c n e i c s   a t a D'

In [7]:
' '.join("abcd")

'a b c d'

In [8]:
" abhay ".join(reversed(name))

's abhay r abhay e abhay t abhay s abhay a abhay M abhay   abhay e abhay c abhay n abhay e abhay i abhay c abhay s abhay   abhay a abhay t abhay a abhay D'

Type Casting

In [9]:
list(reversed("ant"))

['t', 'n', 'a']

In [10]:
str1 = "Oracle is a good org"
print(reversed(str1))   # returns address at which object is reversed. Hence, we have to used reversed() with join()
"".join(reversed(name))

<reversed object at 0x7fa26c2b29a0>

'sretsaM ecneics ataD'

In [11]:
# instead of join() , we can also use for loop with reversed function. But we have to convert reversed object into list

for i in list(reversed(name)):
  print(i, end="")

sretsaM ecneics ataD

In [12]:
# removing leading and trailing white spaces from a string
str1 = " Abhay "
str1.strip(" ")

'Abhay'

In [13]:
str1.lstrip(" ")

'Abhay '

In [14]:
str1.rstrip(" ")

' Abhay'

#### Replacing a string

In [15]:
str1 = "abhay likes to read"
str1.replace("read", "play")       # str.replace("existing value", "new value")

# STRING IS NOT MUTABLE. replace() function returns a new copy of the old string.

'abhay likes to play'

In [16]:
a = "ABHAY"
b = a.replace("ABHAY", "MAGAR")
print(a)
print(b)

print(id(a))
print(id(b))

# As you can see, id of a and b is different. This proves that replace() makes a new copy of the available string. It does not change the old string.(IMMUTABLE)

ABHAY
MAGAR
140335576304176
140335576322416

In [17]:
str = "test@gmail.com"
str.replace("@", " ")

'test gmail.com'

In [18]:
"hello \tworld".expandtabs()   # for new line, we can diectly use \n. But for indentation(tab space) we have to use \t along with expandtabs() function

'hello   world'

In [19]:
str = "Welcome to Dat cience"
str.replace("Dat", "Data").replace("cience","Science")   # using replace() multiple times

'Welcome to Data Science'

In [20]:
str1 = "Abhay"
print(str1.isupper())

str2 = "MAGAR"
print(str2.isupper())

False
True

In [21]:
print(str1.islower())
str3 = "abhay"
str3.islower()

False

True

In [22]:
print(" abhay ".isspace())
print(" ".isspace())      # isspace() returns True if string is empty

False
True

In [23]:
print(str1.endswith("y"))
print(str3.endswith("x"))

True
False

In [24]:
print(str2.startswith("m"))
print(str2.startswith("M"))

False
True

In [25]:
## check if all the char in string are alphanumeric
a="abcd1234"
a.isalnum()

True

### Count number of characters in a string

In [26]:
count = 0
for i in "abhay":
  count=count+1
print(count)

# ORR

len("abhay")

5

5

In [27]:
range(1, 5)

range(1, 5)

In [28]:
range(5)

range(0, 5)

In [29]:
range(len("abhay"))

range(0, 5)

In [30]:
str = "abhay"
for i in range(len(str)):
  print(i, " = ",str[i] )

0  =  a
1  =  b
2  =  h
3  =  a
4  =  y

In [31]:
str = "Abhay Magar"
print(len(str))
# Reverse a string
for i in range(len(str)-1, -1, -1):
  print(str[i], end="")

11
ragaM yahbA

In [32]:
# using while loop

length = len(str) - 1
while(length>=0):
  print(str[length], end="")
  length = length-1

ragaM yahbA

In [33]:
# check for vowels in a string

str = "abhaymsi"
vowel = "aeiouAEIOU"
for ch in str:
  if ch in vowel:
    print(f"{ch} is a vowel")
  else:
    print("{} is not a vowel".format(ch))

a is a vowel
b is not a vowel
h is not a vowel
a is a vowel
y is not a vowel
m is not a vowel
s is not a vowel
i is a vowel

# List

In [34]:
type([1,2,3])

list

In [35]:
["abhay", 34, "magar", 321]

['abhay', 34, 'magar', 321]

In [36]:
str = "My Name is Abhay"
print(list(str))
print()
print( list(str.split(" ")) ) # making a list using " " as a separator

['M', 'y', ' ', 'N', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'A', 'b', 'h', 'a', 'y']

['My', 'Name', 'is', 'Abhay']

In [37]:
# You don't need to typecast while using a split() function as it returns a list itself
lst = str.split(" ")
print(lst)

['My', 'Name', 'is', 'Abhay']

In [38]:
lst[1:]

['Name', 'is', 'Abhay']

In [39]:
lst[2]

'is'

In [40]:
lst[::-2]

['Abhay', 'Name']

In [41]:
lst[-5::-2]

[]

In [42]:
#concatenation

lst + ["new elem", 3]

['My', 'Name', 'is', 'Abhay', 'new elem', 3]

In [43]:
lst1 = lst + [["new elem", 3]] # nested list
lst1

['My', 'Name', 'is', 'Abhay', ['new elem', 3]]

In [44]:
lst1[-1]

['new elem', 3]

In [45]:
lst1[-1][0]  # accesing the nested list

'new elem'

In [46]:
print(lst1*2)

['My', 'Name', 'is', 'Abhay', ['new elem', 3], 'My', 'Name', 'is', 'Abhay', ['new elem', 3]]

In [47]:
if "Abhay" in lst1:
  print("YES")

YES

In [48]:
for element in lst1:
  if element == ["new elem", 3]:
    print(element)
    break

['new elem', 3]

In [49]:
## check elements inside a list
lst=[1,2,3,4]
4 in lst

True

In [50]:
2.0 in lst

True

In [51]:
lst1=["Zebra","Monkey","Donkey","Lion"]
lst2=[5,6,2,9,5,8,6]

In [52]:
print(max(lst1))   # it will compare based on ascii values of characters. eg--> [z ascii is 90] and [a ascii is 65]
max(lst2)

Zebra

9

In [53]:
print(min(lst1))
min(lst2)

Donkey

2

In [54]:
1.9 in [2,4,5]

False

In [55]:
1.9999999999999999999 in [2,4,5]

True

In [56]:
5 == 5.0

True

In [57]:
5 == 5.000000000000000000000089

True

In [58]:
lst = [5,4,2,3,1]
print(type(lst[0]))
print(type(5.0))
5.0 in lst

<class 'int'>
<class 'float'>

True

In [59]:
# append

lst = [1,2,3,4,5]
lst.append(45)        # append is an inplace operation .i.e we dont need to save the changes in variable
lst.append([7,"abhay"])    # multinestd list
lst

[1, 2, 3, 4, 5, 45, [7, 'abhay']]

In [60]:
lst.pop()    # inplace operation that updates the list by removing last element in the list OR the most recently added element

[7, 'abhay']

In [61]:
lst

[1, 2, 3, 4, 5, 45]

In [62]:
lst = ["mango", "apple", "grapes", "lemon"]
lst.pop()

'lemon'

In [63]:
lst.pop(2) # pops out element present at index 2

'grapes'

In [64]:
lst

['mango', 'apple']

In [65]:
lst = ["mango", "apple", "grapes", "lemon"]
removed_elem = lst.pop(0)
removed_elem

'mango'

In [66]:
new_list = ['a','b','c','d','e','f']
new_list[::-1]    # NOT an inplace operation

['f', 'e', 'd', 'c', 'b', 'a']

In [67]:
new_list

['a', 'b', 'c', 'd', 'e', 'f']

In [68]:
new_list.reverse()    # inplace operation
new_list

['f', 'e', 'd', 'c', 'b', 'a']

In [69]:
new_list.sort()     # inplace operation
new_list

['a', 'b', 'c', 'd', 'e', 'f']

In [70]:
new_list.sort(reverse=True) # inplace operation
new_list

['f', 'e', 'd', 'c', 'b', 'a']

In [71]:
lst = [2,5,1,6,9,8]
lst.append(10)
lst

[2, 5, 1, 6, 9, 8, 10]

In [72]:
lst.append(["abhay", 34])
lst

[2, 5, 1, 6, 9, 8, 10, ['abhay', 34]]

In [73]:
# to append multiple values in one step, use "extend() function"

lst.extend(["magar", 78])
lst

[2, 5, 1, 6, 9, 8, 10, ['abhay', 34], 'magar', 78]

# Nested List

In [74]:
# make 3 lists

l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

# make a list of these 3 lists to form a matrix
matrix = [l1,l2,l3]

In [75]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [76]:
matrix[1][2]

6

In [77]:
matrix[1][1:]

[5, 6]

In [78]:
# list comprehension
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [79]:
# to get even values only
[i if i%2==0 else "ODD" for i in range(20)]

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 'ODD',
 12,
 'ODD',
 14,
 'ODD',
 16,
 'ODD',
 18,
 'ODD']

In [80]:
lst = [1,2,3,4,5,6,7,8]

even = 0
odd = 0
for i in lst:
    if i % 2 ==0:
        even += i
    else:
        odd += i        
        
print(even)
print(odd)

20
16

In [81]:
[num for num in lst]

[1, 2, 3, 4, 5, 6, 7, 8]

In [82]:
[num for num in lst if num%2 == 0]

[2, 4, 6, 8]

In [83]:
sum = 0
del sum

In [84]:
even_sum = sum([num for num in lst if num%2 == 0])

In [85]:
even_sum

20

In [86]:
odd_sum=sum([num for num in lst if num%2!=0])
odd_sum

16

In [87]:
lst=[1,2,3,4,5,6,7,8,9,10]
[num**2 for num in lst]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
# Example 2: Create a list of only the positive numbers from a given list
numbers = [-2, -1, 0, 1, 2, 3, 4]
[num for num in numbers if num>0]

[1, 2, 3, 4]

In [89]:
# Example 3: Create a list of only the first letters of words in a list
words = ['apple', 'banana', 'cherry', 'date']
[i[0] for i in words]

['a', 'b', 'c', 'd']

In [90]:
# Example 4: Convert a list of temperatures from Celsius to Fahrenheit uing list comprehesnion
celsius_temperatures = [0, 10, 20, 30, 40, 50]

[(9/5)*i+32 for i in celsius_temperatures]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [91]:
# Example 5: Flatten a list of lists into a single list
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[j for i in lists for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
## Assignment 
## Using both code and list comprehesnion
# Example 2: Create a list of only the prime numbers from a given list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [93]:
# Example 3: Create a list of all the possible combinations of 2 elements from a list
numbers = [1, 2, 3, 4, 5]

In [94]:
(1,2),(1,3)

((1, 2), (1, 3))

In [95]:
lst = [4,5,6,7]

In [96]:
lst.insert(2,3)    # inserts element "3" at index=2 ----> insert(index,elem)
lst

[4, 5, 3, 6, 7]

In [97]:
c=1+2j

In [98]:
c.real

1.0

In [99]:
lst = [4,3,9,7,2,1,56,23,12]

In [100]:
(sorted(lst))   # not an inplace operation

[1, 2, 3, 4, 7, 9, 12, 23, 56]

In [101]:
lst

[4, 3, 9, 7, 2, 1, 56, 23, 12]

In [102]:
lst.sort()    # inplace operation

In [103]:
lst

[1, 2, 3, 4, 7, 9, 12, 23, 56]