# TUPLE

In [13]:
t = ()
type(t)

tuple

In [14]:
t1 = (3,5,2,12, 34.56, 34+5j, "abhay", False)
print(t1)
type(t1)

(3, 5, 2, 12, 34.56, (34+5j), 'abhay', False)

tuple

In [15]:
# access element of tuple

print(t1[6])
print(t1[4])

abhay
34.56

In [16]:
# find reverse of tuple

print(t1[::-1])
print(t1)                 # changes can't be saved inside

(False, 'abhay', (34+5j), 34.56, 12, 2, 5, 3)
(3, 5, 2, 12, 34.56, (34+5j), 'abhay', False)

In [17]:
t1 = t1[::-1]    # here, new variable is created
print(t1)

(False, 'abhay', (34+5j), 34.56, 12, 2, 5, 3)

In [18]:
print(t1[0:3])

(False, 'abhay', (34+5j))

In [21]:
# t1.    shows all available functions or operations that are possible on tuple t1

In [22]:
t1.count("abc")

0

In [23]:
t1.count(2)

1

In [24]:
t1.index("abhay")

1

In [29]:
t1.index(12, 3,11)

4

In [35]:
t1 = (3,5,2,12, 34.56, 34+5j, "abhay", False, True, 1)
t1.count(True)          # returns 2 because element '1' is also considered  as True

2

In [36]:
# similarly
t1.count(1)

2

### Tuple basically follows  Immutability concepts where it is not going to allow to change any element at a perticular index

In [39]:
# t1[0] = 345   ---> error as tulpe is immutable

In [43]:
lst = [1,2,3,4]
print(lst)
print(type(lst))
print(lst[1])
lst[1] = 344
lst

[1, 2, 3, 4]
<class 'list'>
2

[1, 344, 3, 4]

In [46]:
for i in t1:
  print(i, type(i))

3 <class 'int'>
5 <class 'int'>
2 <class 'int'>
12 <class 'int'>
34.56 <class 'float'>
(34+5j) <class 'complex'>
abhay <class 'str'>
False <class 'bool'>
True <class 'bool'>
1 <class 'int'>

In [56]:
t2 = (3,2,1,6,7)
print(min(t2))
print(max(t2))
t2*4

1
7

(3, 2, 1, 6, 7, 3, 2, 1, 6, 7, 3, 2, 1, 6, 7, 3, 2, 1, 6, 7)

In [57]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1+t2

In [58]:
t3

(1, 2, 3, 4, 5, 6)

In [59]:
t4 = (t1,t2)
t4

((1, 2, 3), (4, 5, 6))

In [60]:
t5 = (t1,lst)
t5

((1, 2, 3), [1, 344, 3, 4])

In [61]:
del t5
# t5

In [68]:
t3

(1, 2, 3, 4, 5, 6)

In [69]:
len(t3)

6

In [70]:
True in t3    # as 1 is present

True

In [71]:
False in t3

False

In [72]:
4 in t3

True