# Set

In [1]:
s = {}
type(s)

dict

In [2]:
s1 = {1,2,3,4,5}
type(s1)

set

In [3]:
s3 = {1,2,3,4,2,3,5,6,6,7,7,8,8,8,10,10}

In [4]:
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

### Hence, from above eg. it is clear that, SET consists of unique elements only.It does not contain duplicate values/ repeating values. It discards them.

In [8]:
tuple(s3)

(1, 2, 3, 4, 5, 6, 7, 8, 10)

In [5]:
l = list(s3)

In [6]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [9]:
set(l)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

Suppose you want to remove duplicates from a list. Simply just convert list into set, it will automatically remove duplicates and convert it back to a list

In [12]:
# set1 = {1,2,3,4,[1,2,3,4]}    ---> error: unhashable type 'list'
set2 = {1,2,3,4,(1,2,3,4)}
set2

{(1, 2, 3, 4), 1, 2, 3, 4}

A set allows us to include tuples but not lists. This is because lists are mutable and can be changed which makes it difficult for the set to create hashing indexes internally. Tuple, on the other hand is immutable .i.e can't be changed

In [20]:
s5 = {"abhay", "Abhay", 2,3,4}
print(s5)
s6 = {"abhay", "abhay", 2,3,4}
s6

{2, 3, 4, 'abhay', 'Abhay'}

{2, 3, 4, 'abhay'}

In [21]:
s7 = {4,2,7,5,98,45,12,42}
print(s7)

{2, 98, 4, 5, 7, 42, 12, 45}

In [25]:
# s7[5]  --> error as indexing is not possible in sets because sets try to create hashing indexes internally
# s7[1:5]

In [26]:
s7

{2, 4, 5, 7, 12, 42, 45, 98}

In [28]:
for i in  s7:
  print(i, end=" ")

2 98 4 5 7 42 12 45

In [31]:
s7.add(47)
s7

{2, 4, 5, 7, 12, 42, 45, 47, 98}

In [32]:
len(s7)

9

In [33]:
s7.pop()

2

In [34]:
# s7.pop(4)           ---> error

TypeError: ignored

In [35]:
s7.pop()

98

In [36]:
s7.pop()

4

In [37]:
s7.pop()

5

In [38]:
s7

{7, 12, 42, 45, 47}

In [39]:
s7.clear()

In [40]:
s7

set()

In [44]:
s8 = {1,2,7,5,3}
s9 = {2,9,10,33}

print(s8.difference(s9))
print(s9.difference(s8))

{1, 3, 5, 7}
{9, 10, 33}

In [46]:
s10 = {5,6,7,8}
s11 = {5,6,7,9}
print(s10.difference(s11))
print(s11.difference(s10))

{8}
{9}