# Functions Part 1

In [1]:
print("Hello There")    # print() function

Hello There

In [2]:
l = [1,2,3,4]
len(l)                      # len() function

4

In [7]:
def test():
  pass                        # ignore

In [9]:
def test1():
  print("This is my first function")

test1()

This is my first function

Function increases usability and modularity.

In [11]:
# test1() + " I am excited"             -> error

Above, we get an error because the object returned by function has not type and we are trying to concatenate it with string. NoneType is returned by function only in one situation .i.e if it contains print() function

In [13]:
def test2():
  return "This is my function with return"
test2()

'This is my function with return'

In [16]:
test2() + " .concatenation successful"

'This is my function with return .concatenation successful'

In [19]:
def test3():
  return 1,4,"Abhay", 34.21
test3()          # it is possible to return multiple values
type(test3())

tuple

In [20]:
a = 1,2,3,4,5
a

(1, 2, 3, 4, 5)

In [21]:
a,b,c,d,e = 1, 2.5, True, "abhay", 4+5j
print(a,b,c,d,e)

1 2.5 True abhay (4+5j)

In [22]:
test3()[0]

1

In [26]:
test3()[3]

34.21

In [30]:
a,b,c,d = test3()
print(a, b, c, d)

1 4 Abhay 34.21

In [36]:
def test4():
  a = 3*4+5
  return a
test4()

17

In [38]:
type(test4())

int

In [45]:
def test5(a,b):
  c = a + b
  return c

res = test5(4,5)
print(res)

# test5(5)            -> Error as we must give 2 arg
# test5(5,6,7,8)        ->give 2 arg only

9

In [47]:
print( test5("abhay"," magar") )    # concatenation

abhay magar

In [50]:
test5(  [1,2,3,4], [5,6,7,8]  )    # list concatenation

[1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
test5(  "abhay","magar"  )          # positional arg

'abhaymagar'

In [54]:
test5(  b="abhay", a="magar"  )       # keyword arg

'magarabhay'

In [57]:
l = [1,2,3,4,5.4, 89.1, "abhay" , True, {1,2,3,4}]

#create a function which will filter only numeric values from above list

def filter(l1):
  a = []
  for m in l1:
    if (type(m) == int or type(m)==float):
      a.append(m)
  return a
filter(l)

[1, 2, 3, 4, 5.4, 89.1]

In [66]:
l = [1,2,3,4,5.4, 89.1, "abhay" , True, [1,2,3,3,4], {2,3,4,4,5,5,5,6}]

#create a function which will filter only numeric values from above list

def filter(l1):
  a = []
  for m in l1:
    if (type(m) == int or type(m)==float):
      a.append(m)
    if type(m) == list or type(m) == set or type(m) == tuple:
      for n in m:
        if (type(n) == int or type(n)==float):
          a.append(n)
  return a
filter(l)

[1, 2, 3, 4, 5.4, 89.1, 1, 2, 3, 3, 4, 2, 3, 4, 5, 6]

In [67]:
l = [1,2,3,4,5.4, 89.1, "abhay" , True, [1,2,3,3,4]]
def test7(a) : 
    n = []
    for i in a :
        if type(i) == list :
            for j in i :
                if type(j) == int or type(j) == float :
                    n.append(j)
        else :
            if type(i) == int or type(i) == float :
                n.append(i)
    return n
test7(l)

[1, 2, 3, 4, 5.4, 89.1, 1, 2, 3, 3, 4]