# Functions Part 2

In [1]:
def test(a,b,c,d,e):
  pass

In [2]:
test(1,2,3,4,5)

In [4]:
# test(1,2,3,4,5,6,7)      error-> arguments expected(5) and given(7)

In [7]:
def test1(*args):    # (*args) represents it can take any number of arguments
  return args
print(test1(2))
print(test1(3,4,5))
print(test1(34.56,34,True))
print(test1([1,2,3,4], "abhay", (6,7,8), {"rollno":35}, {10,22,34}))

(2,)
(3, 4, 5)
(34.56, 34, True)
([1, 2, 3, 4], 'abhay', (6, 7, 8), {'rollno': 35}, {10, 34, 22})

In [8]:
#(*args) can be replaced by anything. using '*' is must

def test2(*abhay):
  return abhay

print(test2(2))
print(test2(3,4,5))
print(test2(34.56,34,True))
print(test2([1,2,3,4], "abhay", (6,7,8), {"rollno":35}, {10,22,34}))

(2,)
(3, 4, 5)
(34.56, 34, True)
([1, 2, 3, 4], 'abhay', (6, 7, 8), {'rollno': 35}, {10, 34, 22})

In [14]:
def test3(*args, a):    # you must give keyword arg for a while calling test3().    for example: ' test3(1,2,3, a = 56) '
  return args, a      # args can be empty or anything but you must specify a

# test3(1)           -> error

# print(test3(1,2,3))  
print(test3(a="abhay"))
print(test3(1,2,3, a = 56))

((), 'abhay')
((1, 2, 3), 56)

In [21]:
# create a func that takes any datatype as input but returns only lists 

def test4(*args):
  l = []
  for m in args:
    if type(m) == list:
      l.append(m)
  return l
print(test4( [1,2,3,4], {5,6,7,8}, [12,34], "abhay", True, ["magar", "vaibhav"], {"id":56} ))

[[1, 2, 3, 4], [12, 34], ['magar', 'vaibhav']]

In [26]:
def myfun(k, v, n):
  d = {}
  for i in range(1, n+1):
    k = input()
    v = input()
    d[k] = v
  return d
print(myfun(1,1,5))

name
abhay
surname
magar
father
shivaji
brother
vaibhav
mom
anjali
{'name': 'abhay', 'surname': 'magar', 'father': 'shivaji', 'brother': 'vaibhav', 'mom': 'anjali'}

In [31]:
# create a function that can take multiple inputs of k-v pairs and return a dictionary

def test5(**kwargs):          # take any number of values in form of key-value pairs
  return kwargs
print( test5() )
type(test5())

{}

dict

In [33]:
a = test5(a=5, b=34, c=[1,2,3,4], d={6,7,8}, e="ABHAY", f=True, g=2+5j, h=78.43 )
print(a)

{'a': 5, 'b': 34, 'c': [1, 2, 3, 4], 'd': {8, 6, 7}, 'e': 'ABHAY', 'f': True, 'g': (2+5j), 'h': 78.43}

In [41]:
def test6(**kwargs):          # takes k-v pairs and returns dictionary
  d = []
  print(kwargs)
  for i in kwargs.keys():
    if type(kwargs[i]) == list:    # if value of i(key) is list
      return i, kwargs[i]
test6(a=5, b=34, c=[1,2,3,4], d={6,7,8}, e="ABHAY", f=True, g=2+5j, h=78.43)

{'a': 5, 'b': 34, 'c': [1, 2, 3, 4], 'd': {8, 6, 7}, 'e': 'ABHAY', 'f': True, 'g': (2+5j), 'h': 78.43}

('c', [1, 2, 3, 4])

In [42]:
def test7(*args, **kwargs):   # can take n no. of inputs and n no of k-v pairs
  return args, kwargs

print(test7(2,3,4,5, a=45,b="abhay", c={23,67}, d=False))

((2, 3, 4, 5), {'a': 45, 'b': 'abhay', 'c': {67, 23}, 'd': False})

Above function returns a tuple of values for args and a dictionary for kwargs