# Map, Reduce and Filter Function

In [45]:
l = [1,2,3,4,5]

def test(lst):
  l1 = []
  for i in lst:
    l1.append(i**2)
  return l1
test(l)

[1, 4, 9, 16, 25]

In [46]:
# square function

def sqr(x):
  return x**2

### A map() func takes two parameters. First parameter is a function which performs your desired opertion and the second parameter is iterables on which you want to perform the operations. In order to print output, you can put the output in list() .i.e typecast

In [47]:
map(sqr, l)

In [48]:
list(map(sqr, l))

[1, 4, 9, 16, 25]

The map() function automatically maps each element of the iterable with the function and performs the operation one by one

In [49]:
# using map() with lambda function

map( (lambda c : c**2), [2,3,4,5] )

In [50]:
list(  map( (lambda c : c**2), [2,3,4,5] )  )

[4, 9, 16, 25]

In [51]:
a = lambda x : x+10
list( map(a,l) )

[11, 12, 13, 14, 15]

In [52]:
# add elements having same index from two lists

l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

list(  map( lambda x,y : x+y , l1 , l2 )  )             # x will contain element of l1(one at a time) and y will contain element of l2(one at a time)

[7, 9, 11, 13, 15]

In [53]:
# return a string in uppercase

strupper = lambda x : x.upper()

list( map(strupper, ["magar", "abhay", "vaibhav"]) )

# MAPPING IS SIMPLY MAPPING OF EACH AND EVERY ELEMENT WITH THE OPERATIONS

['MAGAR', 'ABHAY', 'VAIBHAV']

In [54]:
# In order to use reduce() we first have to import it from functools package

from functools import reduce

#### The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

Working :  

At first step, first two elements of sequence are picked and the result is obtained.
Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.
This process continues till no more elements are left in the container.
The final returned result is returned and printed on console.

In [55]:
reduce( lambda x,y : x+y, [1,2,3,4,5] )   # two arg for function but a single iterable as it tries to reduce the list to a single result

15

In [56]:
# list( map( lambda x,y : x+y, [1,2,3,4,5] ) )  # error as if we have two arguments for function, we have to pass two iterables in map() as it maps one element of iterable to operation

In [57]:
reduce( lambda x,y: x*y, [4,5,6] )

120

In [58]:
def sub(m,n):
  return m-n

reduce(sub, [10,5,3,1])

1

In [59]:
# reduce( lambda c : c**2, [1,2,3,4] )   --->    TypeError: <lambda>() takes 1 positional argument but 2 were given

map()  : no. of argument of func == no. of list/iterables

reduce() : 2 argument for function == one list/ iterable

In [60]:
# reduce( lambda x,y: x*y, [] )     --> error for empty list

In [61]:
reduce( lambda x,y: x*y, [4] )  # exceptional case. (only one element)

4

In [62]:
# reduce( lambda x,y : max(x,y), [1,2,3,5,4] )

# Orr

reduce( lambda x,y : x if x>y else y, [1,2,3,5,4] )

5

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not. 

Here, condition is checked for one element at a time

In [63]:
# even no.s in list

list(  filter(lambda x : x%2 == 0, [1,2,3,4,5,6])  )

[2, 4, 6]

In [64]:
# odd no.s in list

list(  filter(lambda x : x%2 != 0, [1,2,3,4,5,6])  )

[1, 3, 5]

In [65]:
# return only negative number from a list

lst = [1,3,-4,6,-11,23,-87,-3,-56]

neg = lambda x : x<0

list( filter(neg, lst) )

[-4, -11, -87, -3, -56]

In [66]:
# return strings with length < 6

lststr = ["abhay", "vaibhav", "bhehul", "magar", "shreyas", "arnav"]

list(  filter( lambda x : len(x)<6, lststr )  )

['abhay', 'magar', 'arnav']

Map() is used to map each element of an iterable with an operation(funtion) with which the iterable is passed. In Map(), no. of arg = no. of iterables passed as each argument holds elements of each iterable

reduce() is used to reduce a list to a final outcome. reduce() has 2 arg for a function and one iterable is passed. for adding all list elements [1,2,3,4] take two arg x and y. x=1, y=2 ....x = x+y, y=next elem and so on

filter() is used to filter elements of an iterable according to a condition. It checks each element for condition one at a time. one arg for function and one iterable is used in filter()