In [126]:
a = 1

In [127]:
print(type(a))

<class 'int'>

In [128]:
print(type("abhay"))

<class 'str'>

In [129]:
class test:
  pass

In [130]:
# making an instance of class test / object

a = test()

In [131]:
print(type(a))

<class '__main__.test'>

In [132]:
# class datascience:
  
#   def welcome_msg():
#     print("welcome to the world of data science")

In [133]:
# abhay = datascience()     # abhay -> object
# abhay.welcome_msg()    ----> error because welcome_msg() takes 0 arg but was given 1

In [134]:
# solution:

class datascience:
  
  def welcome_msg(self):    # using self is must
    print("welcome to the world of data science")

In [135]:
abhay = datascience()     # abhay -> object
abhay.welcome_msg()

magar = datascience()
magar.welcome_msg()

welcome to the world of data science
welcome to the world of data science

In [136]:
a = 1
b = 2
print(a,b,end=" ")

1 2

In [137]:
class test1:

  def __init__(self,phone, email, id ):                # __init__ is inbuild constructor
    
    self.phone = phone
    self.email = email
    self.id = id

  def show(self):
    # return self.phone, self.email, self.id

    # ORR

    print(f"roll no = {self.id}")         # inside class  -> self.id
    print("email = {}".format(self.email))
    print("accessing phone no. inside class = ", self.phone)

s1 = test1(3451235, "abhay@gmail.com", 34)
s1.show()          # outside class   -> objname.id

# accessing phone no. of s1 ouside class
print(f"accessing phone no. of rohan outside class = {s1.phone}")

# inside class   -> self.id is used to access id
# outside class  -> objectname.id is used to access id

roll no = 34
email = abhay@gmail.com
accessing phone no. inside class =  3451235
accessing phone no. of rohan outside class = 3451235

flow : from object making, PARAMETER values will go to __init__ arguments and then the values will be assigned to respective variables. eg-> email --> self.email.  Then flow will go to class. 'self' is a pointer which points to the current class. Hence, we can access the varialble using an object of that class

In [138]:
sohan = test1(67890, "sohan@gmail.com", 12)

In [139]:
sohan.show()

roll no = 12
email = sohan@gmail.com
accessing phone no. inside class =  67890

In [140]:
sohan.phone

67890

# We can use anything in place of SELF

In [141]:
class test2:

  def __init__(abhay,phone, email, id ):          
    
    abhay.phone = phone
    abhay.email = email
    abhay.id = id

  def show(abhay):
    return abhay.phone, abhay.email, abhay.id  # inside class abhay.phone

In [142]:
s2 = test2(222222,"gmail.com", 99)

In [143]:
s2.show()

(222222, 'gmail.com', 99)

In [144]:
s2.phone               #  # inside class objname.phone

222222

# Outside class -> objectname.id 

#Inside class  -> self.id