In [3]:
try:
  a = 10
  a/0
except ZeroDivisionError as e:
  print(e)

division by zero

In [11]:
try:
  int("abhay")          #- -> ValueError
  # "abhay" + 23
except (ValueError, TypeError) as e:
  print(e)

invalid literal for int() with base 10: 'abhay'

In [12]:
try:
  # int("abhay")
  "abhay" + 23              # -> TypeError
except (ValueError, TypeError) as e:
  print(e)

can only concatenate str (not "int") to str

In [15]:
# If you are not aware about the errortype, then this is one solution    BUT THIS IS NOT RECOMMENDED. During handling exceptions, you must mention errortype

try:
  a = 10
  10/0
except:
  print("cannot divide by zero")

cannot divide by zero

In [19]:
try:
  import Abhay
except ImportError as e:
  print(e)

No module named 'Abhay'

In [21]:
try:
  d = {"Name": "Abhay Magar", "rno" : 34}
  d["address"]
except KeyError as e:
  print(e)

'address'

In [23]:
try:
  "abhay".test()
except AttributeError as e:
  print(e)

'str' object has no attribute 'test'

In [24]:
a = [1,2,3,4]
a[1]

2

In [26]:
try:
  a = [1,2,3,4]
  a[10]
except IndexError as e:
  print(e)

list index out of range

In [28]:
try:
  with open("test.txt", r) as f:
    f.read() 
except NameError as n:
  print(n)

name 'r' is not defined

In [30]:
try:
  with open("test.txt", "r") as f:
    f.read() 
except FileNotFoundError as n:
  print(n)

[Errno 2] No such file or directory: 'test.txt'

If superclass Exception is placed above other subclass exceptions(TypeError,IndexError,etc), The superclass Exception will run

In [32]:
try:
  a = 20
  a/0
except Exception as e:
  print(e)
  print("This is superclass")
except ZeroDivisionError as e:
  print(e)

division by zero
This is superclass

Here, except Exception ran but ZeroDivisionError did not