# Measure of Dispersion

In [3]:
ages_lst = [23,43,23,56,74,32,68,98,45,32]

In [4]:
import numpy as np

np.mean(ages_lst)

49.4

In [7]:
# Variance

var = np.var(ages_lst)
var

541.64

In [8]:
# standard deviation

std = np.std(ages_lst)
std

23.273160507331188

In [9]:
std**2

541.6400000000001

In [10]:
import pandas as pd

data = [[10,12,13], [34,23,45], [32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [14]:
df = pd.DataFrame(data, columns = ["A", "B","C"])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [15]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [16]:
df.mean()

A    25.333333
B    23.000000
C    26.333333
dtype: float64

In [20]:
# Row wise

df.var(axis=0)

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [21]:
# Column-wise

df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64