In [ ]:
a = 10

In [ ]:
a = 'c'

In [ ]:
type(a)

str

In [ ]:
int('123')

123

In [ ]:
# int('abcd')

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(234)

234

In [ ]:
age = 32
print("My age: ", 32)

# ORR

print(f"My age : {age}")  # FORMATTING using (f string) method

My age:  32
My age : 32

In [ ]:
# format
name = "Abhay"
age = 21
print("My name is", name, " and age is", age)

# ORRRRR
print("My name is {} and age is {}".format(name,age)) # using .format()

My name is Abhay  and age is 21
My name is Abhay and age is 21

In [ ]:
# placeholder
print("My name is {firstname} and age is {firstage}".format(firstname = name, firstage = age))
print("My age is {firstage} and name is {firstname}".format(firstname = name, firstage = age))

My name is Abhay and age is 21
My age is 21 and name is Abhay

In [ ]:
# excercise
name = "Abhay Magar"
rollno = 34
age = 21
degree = "BE"
print("Hello everyone. My name is {}. I am {} years old. My roll no is {}. I have completed {} in Computer Engg".format(name, age, rollno, degree))

# ORRRR

print("Hello everyone. My name is {myname}. I am {myage} years old. My roll no is {myrno}. I have completed {mydeg} in Computer Engg".format(myrno = rollno, myage = age, myname = name, mydeg = degree))

# ORRR

print(f"Hello everyone. My name is {name}. I am {age} years old. My roll no is {rollno}. I have completed {degree} in Computer Engg")

Hello everyone. My name is Abhay Magar. I am 21 years old. My roll no is 34. I have completed BE in Computer Engg
Hello everyone. My name is Abhay Magar. I am 21 years old. My roll no is 34. I have completed BE in Computer Engg
Hello everyone. My name is Abhay Magar. I am 21 years old. My roll no is 34. I have completed BE in Computer Engg

# Control Statements

In [ ]:
age = int(input("ENter age "))
if (age<18 and age > 0):
  print("You can't vote")
elif (age >=18):
  print("You can vote")
else:
  print("NOO")

ENter age 24
You can vote

In [ ]:
name = input("enter your name: ")

enter your name: Abhay

In [ ]:
name

'Abhay'

In [ ]:
# if statement

age = int(input("Enter age: "))
if (age >=18 and age <=32):
  print("You are Young")

Enter age: 45

In [ ]:
# if-else statement

age = int(input("Enter age: "))
if (age >=18 and age <=32):
  print("You are Young")
else:
  print("BYE BYEEE")

Enter age: 66
BYE BYEEE

In [ ]:
# product price > 1000 then 30 % off and if product price <=1000 then 20% off

p = int(input("Enter prod price: "))
if (p>1000):
  print(f"Product price will become {p*0.7}")
else:
  print("Product price will become {}".format(p-(p*0.2)))

Enter prod price: 900
Product price will become 720.0

In [ ]:
# if-elif-else statement
p = int(input("Product price: "))
if (p > 3000):
  if (p==4000):
    print("You get a goa trip \n")
  print(f"Produt price is {p*0.8}")
elif (p >=2000 and p <=3000):
  print("Product price is {}".format(p-(p*0.3)))
  if p == 2999:
    print("You get an additional gift")
elif (p >=100 and p <=2000):
  print("Product price is {disc}".format(disc=p*0.6))
else:
  print("Kuch Nahi Milega")

Product price: 3
Kuch Nahi Milega

In [ ]:
# single statement
a = int(input())
if (a < 18): print("a is less than 18")
else:
  print("a is not less than 18")

18
a is not less than 18

# Loop Statements

In [52]:
# while loop

a = 20
while (a <= 50):
  print("Yes")
  a = a + 1
else:
  print("NOOOOO")

Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
NOOOOO

In [54]:
total_amt = 1000
while total_amt != 0:
  print(total_amt)
  total_amt = total_amt-100
else:
  print("aur paisa dalo bankwalo")

print("This line will always execute")

1000
900
800
700
600
500
400
300
200
100
aur paisa dalo bankwalo
This line will always execute

### A List is a data structure in python which can contain elements of any datatype

In [56]:
lst = ["Abhay",1,2,3,4,"Book", "Pen"]
type(lst)

list

In [58]:
lst[5] # accessing elements of a list. Here '5' represents index of Book

'Book'

In [61]:
# for loop_1
a = 8
for i in range(1,a+1):
  print(i)

1
2
3
4
5
6
7
8

In [62]:
# for loop_2
lst = ["Abhay",1,2,3,4,"Book", "Pen"]

for x in lst:
  print(x)

Abhay
1
2
3
4
Book
Pen

In [63]:
# to print on same line, use (end) with print statment
for x in lst:
  print(x, end=' ')

Abhay 1 2 3 4 Book Pen

In [64]:
fruit = "mango"
for x in fruit:
  print(x)

m
a
n
g
o

In [65]:
fruit[2]  # Hence, a string is also a collection of character elements like list, but list can contain ant type of elements.

'n'

In [66]:
for i in range(1,10):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9

In [67]:
for i in range(1,10,2):
  print(i,end=" ")

1 3 5 7 9

In [71]:
# nested loop (pattern)

n = 7

for i in range(0,n):
  for j in range(0,i+1):
    print("*",end="")
  print("\r")

*
**
***
****
*****
******
*******

In [73]:
# loop controls --> break & continue

fruits=["Apple", "Mango", "Cherry", "Banana"]
for x in fruits:
  if x == "Mango":
    print("This is Mango")
  print(x)

Apple
This is Mango
Mango
Cherry
Banana

In [74]:
#break
fruits=["Apple", "Mango", "Cherry", "Banana"]
for x in fruits:
  if x == "Mango":
    print("This is Mango")
    break
  print(x)

Apple
This is Mango

In [75]:
#continue
fruits=["Apple", "Mango", "Cherry", "Banana"]
for x in fruits:
  if x == "Mango":
    print("This is Mango")
    continue
  print(x)

Apple
This is Mango
Cherry
Banana